*{
  box-sizing: border-box;
}

:root {
  --darkBlue: rgb(23, 23, 49) ;
  --white: rgb(255, 255, 255);
}

.allDocs{
  background-color: var(--darkBlue) !important;
  border-color: var(--darkBlue)!important;
  color: var(--white) !important;
  width: 50%;
  font-size: 0.9rem !important;
  
}

.bookmarks{
  background-color: var(--white) !important;
  border-color: var(--white)!important;
  color: var(--darkBlue) !important;
  width: 50%;
  font-size: 0.9rem !important;
}

Button:hover{
 
}